<li>
	{{!-- {{id}} --}}
	{{burger_name}}

	<button class="change-devour" data-id="{{id}}" data-newdevoured="{{devoured}}">
		{{#if devoured}}Devoured !{{else}}Ready to Devour!{{/if}}
		{{!-- {{#if devoured}}Devoured !{{else}}Ready to Devour!{{/if}} --}}
	</button>

	{{!-- <button class="delete-cat" data-id="{{this.id}}">DELETE!</button> --}}
</li>
